# Build outputs
build/
app/build/
*.apk
*.aab

# Android Studio
.idea/
.superpowers

*.iml
.gradle/
local.properties
captures/

# OS
.DS_Store
Thumbs.db
java_pid21050.hprof

# DOC
detail.md
CLAUDE.md
GEMINI.md
conductor/
AppIcons/

docs/
